<html>
    <head>
        <link rel="stylesheet" href="header.css">
    </head>
    <body>
        <header>
            <div class="headerbackground">
                <div class="header">
                    <div class="logo">
                        <div class="img-logo">
                            <img src="https://vallyapp.github.io/Vally/Src/Assets/Img/Logo_Vally.png" alt="Vally's Logo">
                        </div>
                        <div class="name-logo">
                            <a href="https://vallyapp.github.io/Vally/index.html"><h1>VALLY</h1></a>
                        </div>
                    </div>
                    <div class="navmenu">
                        <nav>
                            <ul>
                                <li><a href="https://vallyapp.github.io/Vally/features.html">Caracteristicas</a></li>
                                <li><a href="https://vallyapp.github.io/Vally/Src/Assets/Zip/Vally.zip" download>Descarga</a></li>
                                <li><a href="https://vallyapp.github.io/Vally/about.html">Nosotros</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    </body>
</html>
